.train-line {
  height: fit-content;
}
.container {
  margin: 0 0 0 1.25rem;
  width: 100%;
  height: 100% !important;
  pointer-events: none;
}

.container svg {
  width: 70% !important;
  height: 70% !important;
}

body:has(input:checked) g,
body:has(input:checked) .label-group text {
  opacity: 0.3;
}
body:has(input:checked) .label-group {
  opacity: 1;
}

/* 호선별 활성 스타일 */
body:has(.line-1:checked) g#line-1,
body:has(.line-1:checked) .L1 {
  opacity: 1;
}
body:has(.line-2:checked) g#line-2,
body:has(.line-2:checked) .L2 {
  opacity: 1;
}
body:has(.line-3:checked) g#line-3,
body:has(.line-3:checked) .L3 {
  opacity: 1;
}
body:has(.line-4:checked) g#line-4,
body:has(.line-4:checked) .L4 {
  opacity: 1;
}
body:has(.line-5:checked) g#line-5,
body:has(.line-5:checked) .L5 {
  opacity: 1;
}
body:has(.line-6:checked) g#line-6,
body:has(.line-6:checked) .L6 {
  opacity: 1;
}
body:has(.line-7:checked) g#line-7,
body:has(.line-7:checked) .L7 {
  opacity: 1;
}
body:has(.line-8:checked) g#line-8,
body:has(.line-8:checked) .L8 {
  opacity: 1;
}
body:has(.line-9:checked) g#line-9,
body:has(.line-9:checked) .L9 {
  opacity: 1;
}

/* 네비게이션 바 디자인 */
.nav {
  /* position: absolute; */
  margin: 2.5rem 0;
  left: 1rem;
  top: 20%;
}

.nav div {
  position: relative;
}
.nav div {
  width: 5rem;
  height: 3rem;
  background-color: #9696d8;
  border-radius: 1rem 1rem;
  border: unset;
}

.nav input {
  appearance: none;
}

.nav div:has(input:checked) {
  background-color: navy;
}

.nav label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.nav div ~ div {
  margin-top: 1rem;
}

.nav label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media (min-width: 1201px) {
  .section {
    display: flex;
  }
  .train-line {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .nav > div {
    display: inline-block;
    position: relative;
    top: 25px;
  }
}

/* 모바일 반응형 */
@media (max-width: 767px) {
  .nav > div {
    display: inline-block;
    position: relative;
    top: 25px;
  }
}
